/* ---------------------------- CSS Backgrounds ------------------------------- */

/* body {
    background-image: url("../images/download.jpeg");
    background-repeat: no-repeat;   
    background-attachment: scroll;
} */

.bg_sec p {
    text-indent: 100px;
}

.bg_color {
    background-color: rgb(138, 43, 226, 0.5);

}

.bg_image {
    background-image: url("../../assets/images/bg_image.avif");
    color: white;
}

.bg_image_repeat {
    background-image: url("../../assets/images/download.jpeg");
    color: black;
    background-repeat: no-repeat;
}

/* --------------------------------  CSS Borders -------------------------------- */

.borders {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 20px;
}

.borders p {
    text-align: center;
    vertical-align: middle;
}

p.solid {
    border: 2px solid black;
}

p.dotted {
    border: 2px dotted black;
}

p.dashed {
    border: 2px dashed black;
}

p.double {
    border: 5px double black;
}

p.groove {
    border: 5px groove black;
}

p.ridge {
    border: 5px ridge black;
}

p.inset {
    border: 5px inset black;
}

p.outset {
    border: 5px outset black;
}

p.none {
    border: none;
}

p.hidden {
    border: hidden;
}

p.mixed {
    border-top: 5px groove black;
    border-right: 5px dashed violet;
    border-bottom: 5px outset blue;
    border-left: 5px double coral;
}

p.rounded {
    border: 3px dotted red;
    border-radius: 10px;
}


/* --------------------------------  CSS Margins -------------------------------- */

.box {
    border: 2px solid black;
    border-radius: 5px;
}