* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: Lora, serif;
}

table {
    border: 1px solid black;
}

h2 {
    margin: 30px 0 0 20px;
    text-decoration: underline wavy;
    text-align: center;
}

section {
    margin: 50px 20px 0 20px;
}

nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: rgb(192, 209, 241);
    position: sticky;
    top: 0;
}

.nav_links ul {
    display: flex;
    gap: 30px;
    margin-bottom: 0;
    margin-top: 0;
}

.nav_links ul li {
    list-style: none;

}

.nav_links ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.nav_links ul li a:hover {
    text-decoration: underline;
    color: blue;
}

.topic_list {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 15px;
}

.topic_list li {
    list-style: none;
    line-height: 1.5;
    padding: 5px 15px;
    border-radius: 7px;
    cursor: pointer;
}

.topic_list li:hover {
    background-color: #111111;
    /* color: #fff; */
}

.topic_list li a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
}

.topic_list li:hover a {
    color: #fff;
}

.form_sec {
    width: 50%;
    margin: 0 auto;
}

.form_sec h1 {
    text-align: center;
}

.form_sec form fieldset {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 15px;
}

.form_sec label {
    font-weight: bold;
}



.img_sec {
    display: grid;
    margin-left: 15px;
    grid-template-columns: 32% 32% 32%;
    gap: 15px;
}

.img_card {
    padding: 20px;
    border: 1px solid grey;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img_card img {
    height: 250px;
    width: 200px;
}

.img_card p {
    text-align: center;
    font-size: 18px;
}

#contact_form {
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px;
    width: 30%;

}

#contact_form label {
    /* width: 100px; */
    margin-right: 10px;
}

.input_wp {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 15px;
    align-items: center;
}

.input_wp label {
    text-align: right;
    font-weight: bold;
}

.input_wp input {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    outline: none;

}

.btn_submit {
    background-color: #36c956;
    border: 1px solid #36c956;
    color: #111111;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;

}

.btn_reset {
    background-color: #e61717;
    border: 1px solid #e61717;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.social_wp {
    display: flex;
    justify-content: center;
    gap: 40px;

}

.social_wp svg {
    height: 35px;
    width: 35px;
}

footer {
    width: 100%;
}

.top_footer {
    padding: 30px 0;
    background-color: #111111fb;
    color: #fff;
}

.top_footer ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 0;
}

.top_footer ul li {
    list-style: none;
}

.top_footer ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

.bottom_footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgb(0, 0, 0);
    color: #fff;
}